.content {
    width: 100%;
    background: rgba(217, 217, 217, 0.29);
    transition: all .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &.collapse {
        height: 0px;
    }

    &.collapsed {
        height: 480px;
        padding: 42px;

    }

    @media (max-width: 1000px) {
        justify-content: flex-start !important;
        align-items: center !important;
        flex-direction: column;
        gap: 20px;


        &.collapsed {
            height: 800px;
            padding: 20px;
        }
    }
}