.appcontainer {
  padding: 81px 34px;

  video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}