@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('react-date-range/dist/theme/default.css');
@import url('react-date-range/dist/styles.css');
@import url('react-toastify/dist/ReactToastify.css');
//components
@import '../components/Navbar/navbar';
@import '../components/Searchbar/searchbar';
@import '../components/StatusPill/statuspill';
@import "../components/Dropdown/dropdown";
@import "../components/Container/container";
@import "../components/ComponentGrid/componentgrid";
@import "../components/StackInfo/stackinfo";
@import "../components/Toolbar/toolbar";
@import "../components/Pagination/pagination";
@import "../components/FilterSidebar/filtersidebar";

:root {
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.rdrEndEdge,.rdrStartEdge,.rdrInRange {
  color: rgba(67, 62, 153, 0.76)!important;
} 
.rdrDayStartPreview {
  color:  rgba(67, 62, 153, 1)!important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}