.card {
    width: 350px;
    height: fit-content;
    background: linear-gradient(180deg, rgba(143, 89, 157, 0.78) -1.66%, rgba(67, 62, 153, 0.11) 100%);
    border-radius: 8px;
    padding: 24px 18px;

    img {
        cursor: pointer;
    }

    @media (max-width: 1000px) {
        .adjustalign {
            text-align: left !important;
        }

        .rowtocolumn {
            flex-direction: column !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            gap: 10px !important;
        }
    }
}